---
import '../styles/base.css';
import favicon from '../../public/cat-face.png';

export interface Props {
	title: string;
    description?: string;
	previewTitle?: string;
    previewImage?: string;
}

const { title } = Astro.props.frontmatter || Astro.props;
const previewTitle = Astro.props.previewTitle || title;
let { description } = Astro.props.frontmatter || Astro.props;

if (description === undefined) {
  description = "Hi! This is my personal website where you can get to know me!";
}

let { heroImage } = Astro.props.frontmatter || "";

let image = Astro.props.previewImage || "https://raw.githubusercontent.com/angelofallars/angelofallars.github.io/main/public/og-preview.png";

---

<meta charset="UTF-8">
<title>Angelo Fallaria - {title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href={favicon}>

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="Angelo Fallaria" />
<meta property="og:title" content={previewTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={previewTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
