---
import BaseHead from "../components/BaseHead.astro";
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';

import removeMd from 'remove-markdown';

export interface Props {
	title: string;
    pubDate?: string
    description?: string
    heroImage?: string;
}

const { title, pubDate, description } = Astro.props.frontmatter || Astro.props;

const { heroImage } = Astro.props.frontmatter;

function getFirstTwoParagraphs(content) {
    console.log(content);
    const re = new RegExp("(.|\n)*?\n\n", "gm");
    const found = [...content.matchAll(re)];
    console.log(found);
    const first_paragraph = found[0][0].replace(/[\n\r]/g, " ");
    const second_paragraph = found[1][0].replace(/[\n\r]/g, " ");
    console.log(first_paragraph);
    console.log(second_paragraph);
    const firstTwoParagraphs = first_paragraph + second_paragraph;
    return removeMd(firstTwoParagraphs); 
}

const previewDescription = getFirstTwoParagraphs(Astro.props.rawContent());

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={previewDescription} previewImage={heroImage}>
    </head>

    <body>
        <div class="container">
            <div class="columns">
                <Sidebar />
                <main>
                    <h1 style="margin-top: 0;">{title}</h1>
                    <p class="blog-date">
                        {pubDate && <time>{pubDate}</time>}
                    </p>
                    <!---
                    <div class="blog-description">
                        {description && <span>{description}</span>}
                    </div>
                    --->
                    {heroImage &&
                    <div class="blog-hero-image">
                        <img src={heroImage} />
                    </div>}
                    <hr class="blog-hr">
                    <slot />
                </main>
            </div>
            <Footer />
        </div>
    </body>
</html>
